<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="ngAnimate">
<header>
    Business Control Panel
</header>
<main>
    <!-- post new deal div ------------------------------------------------------------------------------------------>
    <button class="biz_home_btns" ng-click="toShow='post_new'">Post New</button>
    <br>
    <div ng-show="toShow=='post_new'">
        <input type="text" id="newDeal" name="newDeal" placeholder="Enter Details">
        <input type="text" id="newDealQty" name="newDealQty" placeholder="Qty"><br>
        <input id="newDealSubmit" type="button" value="Submit"
               onclick="newDeal(
                       document.getElementById('newDeal').value,
                       document.getElementById('newDealQty').value
               )">
        <button class="biz_home_btns" ng-click="toShow='exit_screen'" onclick="location.reload();">Close</button>
        <br>
        <span id="new_info"></span>
    </div>
    <br>
    <!-- display current deals div --------------------------------------------------------------------------------->
    <button class="biz_home_btns" ng-click="toShow='current'" onclick="currentDeal()">Current Deals</button>

    <div ng-show="toShow=='current'">
        <span id="current_info"></span>
        <span id="redeem_screen"></span>
        <button class="biz_home_btns" ng-click="toShow='exit_screen'" onclick="location.reload();">Close</button>
    </div>
    <br>
    <!-- display/update business info ------------------------------------------------------------------------------>
    <button class="biz_home_btns" ng-click="toShow='biz_info'" onclick="displayData()">View/Update Data</button>
    <div ng-show="toShow=='biz_info'" id="biz_info" class="info_display">
        <span class="info_display" id="bizName"></span>
        <br>
        <span class="info_display" id="street_address"></span>
        <br>
        <span class="info_display" id="city_name"></span>
        <span class="info_display" id="state_of"></span>
        <span class="info_display" id="zip_code"></span>
        <br>
        <span class="info_display" id="phone_num"></span>
        <br>
        <span class="info_display" id="email_addy"></span><br>
        <input type="checkbox" ng-model="edit" id="edit_checkbox" class="info_display"><em>edit</em>
        <br>
        <span id="change_confirmed"></span>
        <div id="edit_biz_info" ng-show="edit">

            <input type="text" id="biz_name"  placeholder="Business Name">
            <input class="edit" type="button" value="Submit"
                   onclick="updateData(document.getElementById('biz_name').value, 'biz_name')">
            <br>
            <input type="text" id="street"  placeholder="Street Address">
            <input class="edit" type="button" value="Submit"
                   onclick="updateData(document.getElementById('street').value, 'street')">
            <br>
            <input type="text" id="city"  placeholder="City">
            <input class="edit" type="button" value="Submit"
                   onclick="updateData(document.getElementById('city').value, 'city')">
            <br>
            <input type="text" id="state"  placeholder="State">
            <input class="edit" type="button" value="Submit"
                   onclick="updateData(document.getElementById('state').value, 'state')">
            <br>
            <input type="text" id="zip"  placeholder="Zip">
            <input class="edit" type="button" value="Submit"
                   onclick="updateData(document.getElementById('zip').value, 'zip')">
            <br>
            <input type="text" id="phone" placeholder="Phone Number">
            <input class="edit" type="button" value="Submit"
                   onclick="updateData(document.getElementById('phone').value, 'phone')">
            <br>
            <input type="text" id="email" placeholder="Email">
            <input class="edit" type="button" value="Submit"
                   onclick="updateData(document.getElementById('phone').value, 'email')">
        </div>
        <button class="biz_home_btns" ng-click="toShow='exit_screen'" onclick="location.reload();">Close</button>
    </div>
</main>
<footer></footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.angularjs.org/1.3.15/angular-route.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
<script src="biz_home.js"></script>
</body>
</html>

