<!DOCTYPE html>
<html>
<head>
    <title>Biz_Home page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://code.angularjs.org/1.3.15/angular-route.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
<body ng-app="myApp">
<header>
    Business Control Panel
</header>
<main ng-controller="mainController as mc">
    <!-- post new deal div ------------------------------------------------------------------------------------------>
    <button class="biz_home_btns" ng-click="mc.newDD()">Post New</button>
    <br>
    <div ng-show="mc.newDealDiv">
        <input type="text" id="newDeal" name="newDeal" placeholder="Enter Details" ng-model="detailsInput">
        <input type="text" id="newDealQty" name="newDealQty" placeholder="Qty" ng-model="quantityInput"><br>
        <input id="newDealSubmit" type="button" value="Submit" ng-click="mc.newDeal()">
        <button class="biz_home_btns" ng-click="mc.newDealClose()">Close</button>
        <br>
        <span id="new_info"></span>
    </div>
    <br>
    <!-- display current deals div --------------------------------------------------------------------------------->
    <button class="biz_home_btns" ng-click="mc.currentDD()">Current Deals</button>
    <br>
    <div ng-show="mc.currentDealDiv">
        <span id="current_info"></span>
        <button class="biz_home_btns" ng-click="mc.currentDealClose()">Close</button>
    </div>
    <br>
    <!-- display/update business info ------------------------------------------------------------------------------>
    <button class="biz_home_btns" ng-click="mc.showDD()">View/Update Data</button>
    <div ng-show="mc.updateDealDiv" id="bi_info">
        <span id="bizName"></span>
        <br>
        <span id="street_address"></span>
        <br>
        <span id="city_name"></span>
        <span id="state_of"></span>
        <span id="zip_code"></span>
        <br>
        <span id="phone_num"></span><br>
        <input type="checkbox" ng-model="edit" id="edit_checkbox"><em>edit</em>
        <br>
        <span id="change_confirmed"></span>
        <div id="edit_biz_info" ng-show="edit">
            <br>
            Name:<input type="text" id="biz_name" ng-model="nameUp">
            <input class="edit" type="button" value="Submit">
            <br>
            Street:<input type="text" id="street" ng-model="streetUp">
            <input class="edit" type="button" value="Submit">
            <br>
            City: <input type="text" id="city" ng-model="cityUp">
            <input class="edit" type="button" value="Submit">
            <br>
            State: <input type="text" id="state" ng-model="stateUp">
            <input class="edit" type="button" value="Submit">
            <br>
            Zip: <input type="text" id="zip" ng-model="zipUp">
            <input class="edit" type="button" value="Submit">
            <br>
            Phone: <input type="text" id="phone" ng-model="phoneUp">
            <input class="edit" type="button" value="Submit">
        </div>
        <button class="exit_button" ng-click="mc.updateClose()">Close</button>
    </div>
    <div ng-show="toShow=='exit_screen'" id="biz_info"></div>
    <br>
</main>
<footer></footer>
<script src="dealApp.js"></script>
<script src="script.js"></script>
<script src="mainController.js"></script>

</body>
</html>