body{
text-align: center;
}

header {
    /*border: 1px solid black;*/
    font-size: 3em;
    font-weight: bold;
    height: 10vh;
    color: white;
    background-color: #32CD32;
}

main {
    height: 70vh;
}


table {
    border-collapse: collapse;
    width: 100%;
    font-size: 2em;
    margin-top: 2%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


footer {
    height: 15vh;
    /*border: 1px solid black;*/
    font-size: 3em;
    font-weight: bold;
    color: white;
    background-color: #32CD32;
}
footer button {
    width: 40%;
    font-size: 1em;
    margin-top: 5%;
}
