<!DOCTYPE html>
<html lang="en" ng-app="userDeal">
<head>
    <meta charset="UTF-8">
    <title>Deal Found</title>
    <link rel="stylesheet" type="text/css" href="deal_user_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="deal_user_script.js"></script>
</head>
<body  ng-controller="messageController as mc">
<header>
    <div id="business_name" ng-model="mc.name">
        <h1>{{ mc.name }}</h1>
        <p>{{ mc.phn }}</p>
    </div>
</header>
<main>
    <div id="deal_info">
        <h2 id="deal_text" ng-model="mc.message">
            {{ mc.message }}
        </h2>

        <div id="business_info">
            <img class="business_img" src="images/placeholder_image.png">
            <img class="business_img" src="images/placeholder_image.png">
            <img class="business_img" src="images/placeholder_image.png">
        </div>
        <div id="social_media">
            <a href="#"><img src="images/yelp_icon.png"></a>
            <a href="#"><img src="images/facebook_icon.jpg"></a>
        </div>
        <p id="countdown_timer">Offer Expires in: 2m 59s</p>
        <button type="button" id="accept">Accept Offer</button>
        <button type="button" id="decline">Decline Offer</button>
    </div>
</main>
<footer>
    <button type="button" id="user_settings">Settings</button>
</footer>
</body>
</html>