body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 10%;
    background-color: lavender;
    font-size: 3em;
}

main {
    margin: 0;
    padding: 0;
    height: 80%;
    text-align: center;
}

footer {
    margin: 0;
    height: 10%;
    padding: 0;
    text-align: center;
    background-color: lavender;
}

#distanceCustom,
button {
    font-size: 1em;
    padding: 2%;
    background-color: #32CD32;
    border-radius: 5%;
    font-weight: bold;
    color: white;
    margin: 1% 0 0 0;
}

/*#startBtn {*/
/*margin-top: 25%*/
/*}*/

#distanceCustom {
    width: 7vh;
    background-color: white;
    color: black;
}

#distance1, #distance3, #distance5 {
    height: 90%;
}

#businesses {
    padding: 1%;
    margin: 3%;
    background-color: white;
    color: black;
}

#map {
    height: 100%;
    width: 100%;
}

.bottomWindow {
    height: 100%;
    margin: 0;
    padding: 0;
}

#inputMiles {
    width: 4%;
}

#map {
    height: 100%;
    width: 100%;
}

.bottomWindow {
    height: 100%;
    margin: 0;
    padding: 0;
}

#inputMiles {
    width: 4%;
}

.frontButton {
    position: relative;
    top: 50%;
    padding: 0;
    height: 10%;
    width: 10%;

}

#frontMain {
    background-color: lightblue;
}

#frontHeader {
    height: 17%;
}

#frontFooter {
    height: 3%
}

.buttons {
    text-align: center;

}

#newWindow {
    position: fixed;
    text-align: center;
    height: 25%;
    width: 100%;
    bottom: 10%;
    background-color: lightyellow;
}
