body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 10%;
    background-color: lavender;
    font-size: 3em;
}

main {
    margin: 0;
    padding: 0;
    height: 80%;
    text-align: center;
}

footer {
    margin: 0;
    height: 10%;
    padding: 0;
    text-align: center;
    background-color: lavender;
}

#distanceCustom,
button {
    font-size: 1em;
    padding: 2%;
    background-color: lavender;
    border-radius: 5%;
    font-weight: bold;
    margin: 1% 0 0 0;
}

#distanceCustom {
    width: 7vh;
    background-color: white;
    color: black;
}

#distance1, #distance3, #distance5 {
    height: 90%;
}

#businesses {
    padding: 1%;
    margin: 3%;
    background-color: white;
    color: black;
}

#map {
    height: 100%;
    width: 100%;
}

.bottomWindow {
    height: 100%;
    margin: 0;
    padding: 0;
}

#inputMiles {
    width: 4%;
}

#map {
    height: 100%;
    width: 100%;
}

.bottomWindow {
    height: 100%;
    margin: 0;
    padding: 0;
}

#inputMiles {
    width: 4%;
}

.frontButton {
    position: relative;
    top: 50%;
    height: 10%;
    width: 10%;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5%;
    padding: 1%;
    font-weight: bold;
}

#frontMain {
    background-color: lightblue;
}

#frontHeader {
    height: 17%;
}

#frontFooter {
    height: 3%
}

.buttons {
    text-align: center;
}

.new_window {
    position: fixed;
    text-align: center;
    height: 10%;
    width: 100%;
    bottom: 0;
    background-color: lavender;
    z-index: 1;
    margin: 0;
    padding: 0;
    transition: 1s;
}

#winnerWindow {
    position: fixed;
    text-align: center;
    height: 30%;
    width: 80%;
    bottom: 40%;
    left: 10%;
    background-color: lightyellow;
    z-index: 3;
}

#winnerWindow::before {
    content: "";
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    z-index: -1
}

#showCode {
    margin: 0;
    padding: 0;

}

#dealInfo {
    display: inline-block;

}

#buttonClickYes {
    position: fixed;
    display: inline-block;
    height: 10%;
    width: 50%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

#buttonClickNo {
    position: fixed;
    display: inline-block;
    height: 10%;
    width: 50%;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;

}

#businessInfo {
    padding: 0;
    margin: 0;
}

#d_info {
    margin: 0;
    padding: 0;

}

#confirmWindow {
    position: fixed;
    text-align: center;
    height: 20%;
    width: 60%;
    bottom: 40%;
    left: 20%;
    background-color: lightyellow;
    z-index: 2;
}

#confirmWindow::before {
    content: "";
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    z-index: -1
}

#extraButton {
    text-align: center;
    height: 1vh;
    width: 10vw;
    padding: 0;
    margin: 0;
}

.new_window1 {
    position: fixed;
    text-align: center;
    height: 25%;
    width: 100%;
    bottom: 0;
    background-color: lightgreen;
    z-index: 1;
    margin: 0;
    padding: 0;
    transition: 1s;
}

.new_window2 {
    transition: 1s;
    position: fixed;
    text-align: center;
    height: 90%;
    width: 100%;
    bottom: 0;
    background-color: lightcoral;
    z-index: 1;
    margin: 0;
    padding: 0;

}

#newDeal,
#newDealQty {
    height: 5%;
    width: 60%;
    border: 1px solid black;
    font-size: 2em;
    margin-top: 1%;
}


#biz_info,
#current_info,
#new_info {
    font-weight: bold;
    font-size: 2em;
    color: black;
}

.info_display {

    font-size: .8em
}

#newDealSubmit,
.biz_home_btns {
    border: 1px solid black;
    background-color: lavender;
    padding: 2%;
    display: inline-block;
    margin: 5% 0 5% 0;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5%;
}

.edit {
    background-color: white;
    color: black;
    font-weight: normal;
    padding: 0;
    margin-left: 3%;
    border: 1px solid black;
    border-radius: 5%;
}

#edit_biz_info {
    transition: all linear 0.5s;
    background-color: transparent;
    height: 30vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

#create_account input,
#edit_biz_info input {
    font-size: 1em;
    margin-bottom: 2%;
    border: 1px solid black;
}

.edit_button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    width: 2em;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid black;
    margin-left: 10%;
}

input[type='checkbox']:checked {
    background: darkblue;

}

.ng-hide {
    height: 0;
    width: 0;
    background-color: transparent;
    top: -200px;
    left: 200px;
}

#change_confirmed {
    color: black;
    font-size: 1em;
}

#create_account {
    font-size: 2em;
    text-align: left;
    padding-left: 10%;
}

#create_account #biz_name,
#create_account #street {
    width: 80%;
    margin-bottom: 5%;
}

#create_account #city {
    width: 60%;
    margin-bottom: 5%;
}

#newDealQty,
#create_account #state {
    width: 20%;
    margin-bottom: 5%;
}

#create_account #zip {
    width: 30%;
}

#create_account #phone {
    width: 50%;
}

#confirmation_screen {
    height: 70%;
    color: black;
}

#redeemBtn {
    color: black;
    padding: 0;
    font-size: .8em;
    margin-left: 5%;
}

#redeem_screen {
    color: darkred;
    font-weight: bold;
    font-size: 2em;
}













