body {
    text-align: center;
}

header {
    /*border: 1px solid black;*/
    height: 15vh;
    background-image: url("../images/green_ribbon.png");
    background-position: center;
    position: relative;
}

#settings_app_name {
    font-size: 3em;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100vw;
    text-align: center;
}

main {
    border: 1px solid black;
    height: 70vh;
    font-size: 2em;
    position: relative;
}

main select {
    font-size: 1em;
    margin-left: 3%;
    background-color: #32CD32;
    color: white;
}

main h3 {
    background-color: #32CD32;
    color: white;
}

main a,
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main p,
footer p {
    background-color: #32CD32;
}

footer {
    border: 1px solid black;
    height: 20vh;
    font-size: 2em;
    font-weight: bold;
}